.content {
  min-height: calc(100vh - 70px - 64px);
}

.searchPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBtn {
  position: absolute;
  top: 0;
  right: 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

label:not(:last-child) {
  margin-right: 1rem;
}

.msg {
  width: 100%;
  display: block;
  text-align: center;
  background: red;
  font-size: 56px;
}

.errText {
  display: block;
  text-align: center;
  font-size: 48px;
}

.link {
  display: block;
  font-size: 30px;
  text-align: center;
}

.wrapperText {
  margin-top: 30%;
}

.errorWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col12 {
  display: flex;
  align-items: center;
  justify-content: center;
}
